body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Ici j'ai mis ma navbar */
.navbar {
    position: fixed; 
    width: 100%;
    padding-top: 2%;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titre {
    color: whitesmoke;
    font-size: 28px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* Ici j'ai mis le header et l'image*/
.header {
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, white 100%),
        url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: 0 40%, center;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.header h1 {
    font-size: 48px;
    font-weight: 900;
    opacity: 0.7;
    margin-bottom: 0;
}

.gray {
    color: gray;
    text-align: left;
}

.subtitle {
    font-size: 18px;
    color: #4d4c49bf;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.btn {
    background-color: #5e4aaf;
    color: whitesmoke;
    text-decoration: none;
    font-size: 13px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Ici c'est la section about me */
.about {
    background-color: white;
    padding: 60px 20px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
}

.about-image img {
    width: 400px;
}

  
.about-small-titre {
    font-size: 12px;
    color: #696866e6;
    margin-bottom: 5px;
}

.about-titre {
    font-size: 26px;
    color: #373736e1;
    margin-bottom: 5px;
}