.portfolio {
    background-color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.portfolio-small-title {
    font-size: 14px;
    color: #7a7676;
    margin-bottom: 5px;
}

.portfolio-title {
    font-size: 26px;
    margin-bottom: 40px;
    color: #5e4aaf;
}

.black {
    color: #343333;
}

.portfolio-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.portfolio-grid img:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 65, 0.7);

}

.portfolio-grid img {
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Ici y a la section avec les prix */

.pricing {
    padding: 80px 30px;
    background-color: white;
    text-align: center;
}

.pricing-small-titre {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

.pricing-titre {
    font-size: 26px;
    margin-bottom: 40px;
}

.pricing-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.pricing-card {
    width: 250px;
    border: 1px solid purple;
    border-radius: 10px;
    padding: 30px 20px;
    background-color: whitesmoke;
    transition: all 0.3s ease;
}

.pricing-card img {
    width: 40px;
    margin-bottom: 10px;
}

.pricing-name {
    margin-bottom: 23px;
}

.pricing-features {
    list-style: none;
    padding: 0;
    font-size: 13px;
    color: #3e3c3c;
    margin-bottom: 20px;
}

.pricing-features .disabled {
    color: #d9534f;
}

.price {
    font-weight: bold;
    margin-bottom: 29px;
}

.subscribe-btn {
    background-color: #5e4aaf;
    color: white;
    font-size: 13px;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 4px;
}

/* ici c'est la section purple avec le bouton hire me */

.cta {
    background-color: #5e4aaf;
    padding: 30px 20px;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.cta-subtitle {
    font-weight: bold;
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
}

.cta-small-text {
    font-size: 12px;
    color: white;
}

.cta-button {
    background-color: white;
    color: black;
    padding: 8px 18px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    font-size: 13px;
}

/* Ici ta les testimonial des clients */

.testimonial {
    background-color: white;
    padding: 80px 30px;
    text-align: center;
}

.testimonial-small-title {
    font-size: 12px;
    color: #6b6b6b;
    margin-bottom: 5px;
}

.testimonial-title {
    margin-bottom: 40px;
}

.testimonial-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.testimonial-card {
    background-color: white;
    border: 1px solid #c0b9b9;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: left;
}

.testimonial-text {
    font-size: 14px;
    color: #454343;
    margin-bottom: 20px;
}

.testimonial-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial-user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.testimonial-name {
    font-weight: bold;
    color: #5e4aaf;
}

.mauve {
    color: #5e4aaf;
}


/* Ici c'est la section blog. */
.blog {
    background-color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.blog-small-title {
    font-size: 13px;
    color: #777;
    margin-bottom: 5px;
}

.blog-title {
    font-size: 26px;
    margin-bottom: 40px;
}

.blog-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.blog-card {
    display: flex;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    width: 700px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
}

.blog-card img {
    width: 250px;
    height: auto;
    object-fit: cover;
}

.blog-content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    flex: 1;
}

.blog-post-title {
    font-size: 16px;
    font-weight: bold;
    color: #5e4aaf;
    margin-bottom: 5px;
}

.blog-meta {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}

.blog-text {
    font-size: 13px;
    color: #444;
    margin-bottom: 8px;
}

.read-more {
    font-size: 12px;
    color: #5e4aaf;
    text-decoration: none;
}
